*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0f1145;
    --base-color: #f2994a;
    --primary-text-color: #8476aa;
    --secondary-text-color: #99efd0;
    --primary-font: 'Inter', sans-serif;
}

@import 'helpers';

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
}

.container {
    margin: 0 auto;
    display: flex;
    max-width: 1100px;
}

.section {
    margin: 0;
    padding: 4em 0;
}

header {
    padding: 5em 0;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .left {
        display: flex;
        align-items: center;

        .logo {
            margin-right: 3em;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 0 1em;

                    a {
                        text-decoration: none;
                        color: #b5b5b5;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 2px;
                        font-weight: 500;

                        &:hover {
                            color: var(--base-color);
                        }
                    }
                }
            }
        }
    }
}

.hero {
    padding: 2em 0;

    .container {
        display: flex;
        justify-content: space-between;

        .left {
            flex: 1 0 50%;

            h1 {
                padding: 0.5em 0;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 50px;
                color: var(--secondary-text-color);
                font-family: var(--primary-font);
            }

            p {
                padding: 0.5em 0;
                color: var(--primary-text-color);
                font-family: var(--primary-font);
                font-size: 18px;
                line-height: 22px;
            }

            .buttons {
                margin: 2.5em 0 4em 0;
            }

            .preview {
                display: flex;
                align-items: center;

                p {
                    padding-top: 0;
                    font-family: var(--primary-font);
                    font-size: 16px;
                    line-height: 22px;
                    color: var(--primary-text-color);
                }

                a {
                    text-decoration: none;
                    font-family: var(--primary-font);
                    font-size: 14px;
                    line-height: 22px;
                    color: #6d6d78;

                    &:hover {
                        color: rgba(111, 111, 124, 0.8);
                    }
                }

                .play {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        .right {
            flex: 0 0 50%;
            white-space: nowrap;
            position: relative;

            .artwork {
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -80px;
                    background: url(./../../images/dots.svg) transparent
                        no-repeat;
                    height: 100%;
                    width: 100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: url(./../../images/artwork.svg) transparent
                        no-repeat;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.clients {
    .container {
        display: block;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.features {
    .container {
        display: block;

        h2 {
            text-align: center;
            font-family: var(--primary-font);
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            color: var(--secondary-text-color);
        }

        p {
            text-align: center;
            font-family: var(--primary-font);
            font-size: 16px;
            line-height: 22px;
            color: var(--primary-text-color);
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            margin-top: 3em;

            .item {
                flex: 0 0 33.333333%;
                padding: 3em 6em 0 0;
                position: relative;

                h3 {
                    text-align: left;
                    font-family: var(--primary-font);
                    font-size: 18px;
                    line-height: 22px;
                    color: var(--secondary-text-color);
                    margin-bottom: 0.5em;

                    &::before {
                        content: '';
                        font-weight: bold;
                        width: 24px;
                        height: 24px;
                        left: -40px;
                        position: absolute;
                    }

                    &.flip-horizontal {
                        &::before {
                            background: url(./../../images/flip-horizontal.svg)
                                transparent no-repeat;
                        }
                    }

                    &.airpods {
                        &::before {
                            background: url(./../../images/airpods.svg)
                                transparent no-repeat;
                        }
                    }

                    &.lte {
                        &::before {
                            background: url(./../../images/lte.svg) transparent
                                no-repeat;
                        }
                    }

                    &.thunder-move {
                        &::before {
                            background: url(./../../images/thunder-move.svg)
                                transparent no-repeat;
                        }
                    }

                    &.attachment {
                        &::before {
                            background: url(./../../images/attachment.svg)
                                transparent no-repeat;
                        }
                    }

                    &.bulb {
                        &::before {
                            background: url(./../../images/bulb.svg) transparent
                                no-repeat;
                        }
                    }
                }

                p {
                    text-align: left;
                    font-family: var(--primary-font);
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--primary-text-color);
                }
            }
        }
    }
}

.image-text {
    .container {
        align-items: center;
        justify-content: space-between;
    }

    .left {
        flex: 0 0 46%;

        h2 {
            margin-bottom: 0.6em;
            padding-right: 0.6em;
            font-family: var(--primary-font);
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            color: var(--secondary-text-color);
        }

        p {
            margin-bottom: 2em;
            font-family: var(--primary-font);
            font-size: 15px;
            line-height: 28px;
            letter-spacing: 0.5px;
            color: var(--primary-text-color);
        }
    }

    .right {
        flex: 0 0 50%;

        img {
            width: 100%;
        }
    }
}

.stats {
    .container {
        display: block;
    }

    .top {
        h2 {
            margin-bottom: 1em;
            font-family: var(--primary-font);
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.33px;
            color: var(--secondary-text-color);
        }

        p {
            margin-bottom: 4em;
            font-family: var(--primary-font);
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            color: var(--primary-text-color);
        }
    }

    .counters {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .counter-item {
            flex: 0 0 30%;

            h3 {
                margin-bottom: 0.6em;
                font-family: var(--primary-font);
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.33px;
                color: var(--secondary-text-color);
            }

            p {
                font-family: var(--primary-font);
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                color: var(--primary-text-color);
            }
        }
    }
}

.fw-image {
    .container {
        display: block;
        position: relative;
    }

    .top {
        padding: 1em 4em;
        text-align: center;

        h2 {
            margin-bottom: 1em;
            font-family: var(--primary-font);
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            text-align: center;
            color: var(--secondary-text-color);
        }
    }

    .cover-image {
        img {
            // position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
        }
    }
}

.image-text-alternative {
    .container {
        align-items: center;
        justify-content: center;
    }

    .left {
        flex: 0 0 50%;

        img {
            width: 100%;
        }
    }

    .right {
        flex: 0 0 50%;
        padding-left: 4em;

        .top {
            h3 {
                margin-bottom: 1em;
                font-family: var(--primary-font);
                font-weight: bold;
                font-size: 26px;
                line-height: 32px;
                letter-spacing: 0.325px;
                color: var(--secondary-text-color);
            }

            p {
                font-family: var(--primary-font);
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: var(--primary-text-color);
            }
        }

        .features {
            margin-top: 2em;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                flex: 0 0 46%;

                h4 {
                    margin: 1em 0 0.785em 0;
                    font-family: var(--primary-font);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.2px;
                    color: var(--secondary-text-color);
                }

                p {
                    font-family: var(--primary-font);
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: var(--primary-text-color);
                }
            }
        }
    }
}

.subscribe {
    .container {
        display: block;
    }

    .box {
        text-align: center;
        background: rgba(60, 62, 125, 0.19);
        backdrop-filter: blur(134px);
        border-radius: 5px;
        padding: 1em 0;

        h2 {
            margin: 0.5em 0;
            font-family: var(--primary-font);
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            color: var(--base-color);
        }

        p {
            margin: 1em auto;
            font-family: var(--primary-font);
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #95a1bb;
            max-width: 40%;
        }

        .input-box {
            display: flex;
            flex-direction: column;

            .email-input {
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    flex: 0 0 30%;
                    padding: 0.8em;
                    border: none;
                    border-radius: 0;
                    font-family: var(--primary-font);
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    opacity: 0.2;
                    height: 56px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;

                    &::placeholder {
                        color: #ffffff;
                        opacity: 1;
                    }
                }

                button {
                    height: 56px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            p {
                font-family: var(--primary-font);
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: var(--primary-text-color);
            }
        }
    }
}
